<!-- base.html -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/bootstrap.css">
   	<script src="../static/index.js"></script>
  </head>
	<body>
		<div class="container">
			<div class="jumbotron text-center">
				<h3>Stock Keeping App</h3>
				<h4>Tree of Life Bookshop</h1>
			</div>
		  {% block body %}
		  {% endblock %}
		  <footer class="footer">
			<p>© <a href="https://pi.prescott.ws">PI PRESCOTT</a></p>
		  </footer>
		</div> <!-- /container -->
	</body>
</html>
