<!-- index.html-->

{% extends "base.html" %}
{% block title %}Point of Sale{% endblock %}
{% block body %}

		<div class="container-fluid">
			<div class="container-fluid">
				<center>
				<form id="choose" onChange="show()">
					<label class="radio-inline"><input type="radio" name="function" value="add" checked>Add New Book</label>
					<label class="radio-inline"><input type="radio" name="function" value="remove">Remove Sold Books</label>
					<label class="radio-inline"><input type="radio" name="function" value="search">Search Stocklist</label>
				</form> 
				</center>
			</div>		
			<div class="card-deck">

				<!--Add New Book-->
				<div id="add" class="card text-center p-3" style="min-width: 15rem; display: block;">
					<h3 class="card-header">Add New Book</h3>
					<div class="card-body" id="booksBody">
						<form>
							<div class="form-group">
								<input id="bookISBN" class="form-control form-control-lg" type="text" placeholder="Scan ISBN" autofocus onChange="findBook()">
								<input id="bookAuthor" class="form-control" type="text" placeholder="Author" >	
								<input id="bookTitle" class="form-control" type="text" placeholder="Title" >
								<input id="bookPublisher" class="form-control" type="text" placeholder="Publisher">
								<input id="bookPrice" class="form-control" type="text" placeholder="Price">
								<input id="shopLocation" class="form-control" type="text" placeholder="Shop Location">
							</div>
						</form>
					</div>
					<div class="card-footer">
						<center><button onclick="addBook()" type="submit" class="btn btn-success btn-block">Add Book</button></center>
					</div>
				</div>

				<!--Remove Sold Books-->
				<div id="remove" class="card text-center p-3" style="min-width: 15rem; display: none;">
					<h3 class="card-header">Remove Sold Books</h3>
					<div class="card-body" id="booksBody">
						<form>
							<div class="form-group">
								<input id="bookISBN" class="form-control form-control-lg" type="text" placeholder="Scan ISBN" autofocus onChange="findBook()">
								<input id="bookAuthor" class="form-control" type="text" placeholder="Author" >	
								<input id="bookTitle" class="form-control" type="text" placeholder="Title" >
								<input id="bookPublisher" class="form-control" type="text" placeholder="Publisher">
								<input id="bookPrice" class="form-control" type="text" placeholder="Price">
								<input id="shopLocation" class="form-control" type="text" placeholder="Shop Location">
							</div>
						</form>
					</div>
					<div class="card-footer">
						<center><button onclick="remove()" type="submit" class="btn btn-success btn-block">Add Book</button></center>
					</div>
				</div>

				<!--Search Stocklist-->
				<div id="search" class="card text-center p-3" style="min-width: 15rem; display: none;">
					<h3 class="card-header">Search Stocklist</h3>
					<div class="card-body" id="booksBody">
						<form>
							<div class="form-group">
								<input id="bookISBN" class="form-control form-control-lg" type="text" placeholder="ISBN"  onChange="search(bookISBN)">
								<input id="bookAuthor" class="form-control" type="text" placeholder="Author" onChange="search(bookAuthor)">	
								<input id="bookTitle" class="form-control" type="text" placeholder="Title" onChange="search(bookTitle)" >
								<input id="bookPublisher" class="form-control" type="text" placeholder="Publisher" onChange="search(bookPublisher)">
							</div>
						</form>
					</div>
					<div class="card-footer">
						<center><button onclick="search()" type="submit" class="btn btn-success btn-block">Add Book</button></center>
					</div>
				</div>



			</div><!-- end of card-deck -->
		</div>

{% endblock %}
