<!-- index.html-->

{% extends "base.html" %}
{% block title %}Stock Keeping App{% endblock %}
{% block body %}

		<div class="container-fluid">
			<div class="container-fluid">
				<center>
				<form id="choose" onChange="show()">
					<label class="radio-inline"><input type="radio" name="function" value="add" checked>Add New Book</label>
					<label class="radio-inline"><input type="radio" name="function" value="remove">Remove Sold Books</label>
					<label class="radio-inline"><input type="radio" name="function" value="search">Search Stocklist</label>
					<label class="radio-inline"><input type="radio" name="function" value="move">Move Books to Different Shelf</label>
				</form> <br>
				</center>
			</div>	
			<div id="feedback"></div>	
			<div class="card-deck">

				<!--Add New Book-->
				<div id="add" class="card text-center p-3" style="min-width: 15rem; display: block;">
					<h3 class="card-header">Add New Book</h3>
					<div class="card-body">
						<form>
							<div class="form-group">
								<input id="bookISBN" class="form-control form-control-lg" type="text" placeholder="Scan ISBN" autofocus onChange="findBook()">
								<input id="bookAuthor" class="form-control" type="text" placeholder="Author" >	
								<input id="bookTitle" class="form-control" type="text" placeholder="Title" >
								<input id="bookPublisher" class="form-control" type="text" placeholder="Publisher">
								<input id="bookPublicationDate" class="form-control" type="text" placeholder="Publication Date">			
								<input id="bookPrice" class="form-control" type="text" placeholder="Price">
								<input id="bookPages" class="form-control" type="text" placeholder="Pages">
								<label for="selectRoom" class="form-text text-muted">Location: ROOM-BOOKCASE-SHELF (Bookcases are counted clockwise from entrance. Shelves are counted down from top.)</label>
								<select class="form-control" name="Room" id="selectRoom" onChange="getCases('select')">
									<option value="">Select Room</option>
									<option value="SHOP">SHOP</option>
									<option value="B1">B1</option>
									<option value="B2">B2</option>
								</select>
								<select class="form-control" name="Case" id="selectCase" onChange="getShelves('select')">
									<option value="">Select Room First</option>
									
								</select>
								<select class="form-control" name="Shelf" id="selectShelf">
									<option value="">Select Room First</option>
								</select>
							</div>
						</form>
					</div>
					<div class="card-footer">
						<center><button onclick="addBook()" type="submit" class="btn btn-success btn-block">Add Book</button></center>
					</div>
				</div>

				<!--Remove Sold Books-->
				<div id="remove" class="card text-center p-3" style="min-width: 15rem; display: none;">
					<h3 class="card-header">Remove Sold Books in bulk by ISBN</h3>
					<div class="card-body">
						<form>
							<div class="form-group">
								<textarea id="removeList" rows="10" cols="50" placeholder="make sure cursor is in this text area before dumping sold ISBNs from scanner" required></textarea>
							</div>
						</form>
					</div>
					<div class="card-footer">
						<center><button onclick="remove()" type="submit" class="btn btn-success btn-block">Remove Sold Books</button></center>
					</div>
				</div>

				<!--Search Stocklist-->
				<div id="search" class="card text-center p-3" style="min-width: 15rem; display: none;">
					<h3 class="card-header">Search Stocklist</h3>
					<div class="card-body">
						<form>
							<div class="form-group">
								<input id="isbn" class="form-control form-control-lg" type="text" placeholder="ISBN"  onChange="search('isbn')">
								<input id="author" class="form-control" type="text" placeholder="Author" onChange="search('author')">	
								<input id="title" class="form-control" type="text" placeholder="Title" onChange="search('title')" >
								<input id="publisher" class="form-control" type="text" placeholder="Publisher" onChange="search('publisher')">
							</div>
						</form>
						<button class="btn">Search</button>
						<div id="searchResults"></div>
					</div>
					<div class="card-footer">
					</div>
				</div>

				<!--Move Shelf-->
				<div id="move" class="card text-center p-3" style="min-width: 15rem; display: none;">
					<h3 class="card-header">Move Shelf</h3>
					<div class="card-body">
						<form>
							<div class="form-group">
								<select class="form-control" name="Room" id="select2Room" onChange="getCases('select2')">
									<option value="">Select Room</option>
									<option value="SHOP">SHOP</option>
									<option value="B1">B1</option>
									<option value="B2">B2</option>
								</select>
								<select class="form-control" name="Case" id="select2Case" onChange="getShelves('select2')">
									<option value="">Select Room First</option>
									
								</select>
								<select class="form-control" name="Shelf" id="select2Shelf">
									<option value="">Select Room First</option>
								</select>
							</div>
						</form>
						<button onClick="searchLocation()" class="btn btn-info">Show Selected Shelf</button>
						<div id="shelfList" style=" text-align: right;"></div>
					</div>
					<div class="card-footer">
					</div>
				</div>


			</div><!-- end of card-deck -->
		</div>

{% endblock %}
